.menteqe{
    margin: 80px 0;
    .menteqe__top{
        // margin-bottom: 30px;
        .menteqe__top__title{
            font-size: 40px;
            color: $darkBlue;
            font-weight: 600;
            text-align: center;
        }
    }

    .menqete__links{
        margin: 30px 0;
        ul{
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            li{
                color: $gray;
                list-style: none;
                padding: 10px 18px;
                border-radius: 11px;
                font-weight: 600;
                font-size: 17px;
                border: 1px solid $darkBlue;
                transition: .5s;
                a{
                    color: $gray;
                }
                &:hover{
                    background: $darkBlue;
                    color: $white;
                }
                    &:hover a {
                        color: $white;
                    }
            }
            li.active {
                background: #254083;
                font-family: 'montserrat', sans-serif;
                font-weight: 500;
                a{
                color: $white !important;

                }
            }
        }
    }

    .table{
        margin: 30px 0;
        
        tbody{
            tr{
                th{
                    color:$darkBlue;
                }
            }
            th{
                padding: 20px 0;
            }
            td{
                padding: 20px 0;
            }
        }
    }
}