@import "./variables.scss";
@import "./index.scss";
@import "./haqqimizda.scss";
@import "./tarifler.scss";
@import "./menteqeTarifleri.scss";
@import "./magazalar.scss";
@import "./xeberler.scss";
@import "./xidmetler.scss";
@import "./dasinmaSertleri.scss";
@import "./elaqe.scss";
@import "./daxilOl.scss";
@import "./qeydiyyat.scss";
@import "./sifre.scss";
@import "./sifreAktiv.scss";
@import "./sifreBerpasi.scss";
@import "./sifreKod.scss";
@import "./smartCustoms.scss";
@import "./isdifadeci.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
//back-to-top start
// .back-to-top{
//     opacity: 0;
//     transition: .5s;
//     i{
//     color: $white;
//     }
//     padding: 12px 16px;
//     background-color: $blue;
//     border-radius: 6px;
//     position: fixed;
//     bottom: 45px;
//     right: 35px;
//     z-index: 111;
// }
//back-to-top end

.top__header {
    display: flex;
    align-items: center;
    background-color: $darkBlue;
    padding: 14px 0;
    .top__header__numbers {
        .top__header__a1 {
            margin-right: 20px;
            i {
                color: $yellow;
            }
            color: $white;
        }
        .top__header__a2 {
            i {
                color: $yellow;
            }
            color: $white;
        }
    }
    .top__header__valyuta {
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                color: $white;
                p {
                    margin: 0 30px 0 0;
                    b {
                        }
                }
            }
        }
    }
    .top__header__icons {
        ul {
            justify-content: end;
            display: flex;
            align-items: center;
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                a {
                    color: $white;
                    margin-left: 30px;
                    i {
                        font-size: 23px;
                    }
                }
            }
        }
    }
}
.head{
    position: fixed;
    width: 100%;
    z-index: 111;
    top: 0;
}

.header {
    padding: 30px 0;
    background-color: $white;
    box-shadow: 0px 2px 7px $shadow;
    // .header__logo {
    //     img {
    //         }
    // }
    .header__nav{
        ul{
            display: flex;
            align-items: center ;
            list-style: none;
            margin: 0;
            padding: 0;
            li{
                a{
                    font-size: 17px;
                    color: $black;
                    margin: 0 13px;
                }
                .headActive{
                    color: $yellow !important;
                    text-decoration: underline !important;
                } 
                // .headActive::before {
                //     left: 0 !important;
                //     width: 100% !important;
                // }
                // a::before {
                //     content: "";
                //     position: absolute;
                //     left: 50%;
                //     width: 0;
                //     height: 1px;
                //     background: #FFAB21;
                //     bottom: 0 !important;
                //     -webkit-transition: all 0.4s linear;
                //     transition: all 0.4s linear;
                //     top: 25px;
                // }

            }
        }
    }
    .header__button{
        display: flex;
        justify-content: end;
        a{
            color: $white;
            padding: 12px 65px;
            background-color: $yellow;
            box-shadow: 0px 2px 7px $shadow;
            border-radius: 10px;
            border: 1px solid $yellow;
            font-weight: 500;
            font-size: 14px;
            transition: .5s;
            &:hover{
                background-color: $white;
                border: 1px solid $yellow;
                color: $yellow;
            border-radius: 10px;
            }
        }
    }
}

.footer{
    background-color: $darkBlue;
    padding: 60px 0;
    margin-top: 20px;
    .footer__all{
        display: flex;
        flex-wrap: wrap;
        .footer__box{
            .footer__content{
                h5{
                    color: $white;
                    margin-bottom: 20px;
                }
                .menuUl{
                    display: inline-block; 
                    padding: 0;
                    li{
                        list-style: none;
                        margin: 0;
                        margin-bottom: 15px;
                        a{
                            color: $white;
                        }
                    }
                }
                .menuUl2{
                    display: inline-block; 
                    padding: 0;
                    margin-left: 30px;
                    li{
                        list-style: none;
                        margin: 0;  
                        margin-bottom: 15px;
                        a{
                            color: $white;
                        }
                    }
                }
                ul{
                    padding: 0;
                    li{
                        p{
                            width: 90%;
                            color: $white;
                        }
                        list-style: none;
                        margin: 0;
                        margin-bottom: 15px;
                        a{
                            i{
                                font-size: 26px;
                                margin-right: 20px;
                                margin-top: 25px;
                                margin-bottom: 25px;
                            }
                            color: $white;
                            img:first-child{
                                margin-right: 20px;
                            }
                        }
                    }
                }
            }
        }
    }

    .copy{
        .copyright{
            .copyright__p{
                font-weight: 600;
                font-size: 13px;
                color: $white;
                margin: 0;
            }
        }
    }
    .footer__hr{
        border: 1px solid #506FBD;
        margin: 0 0 30px 0;
    }
}
.top__header__mobile{
    display: none;
}
.header__mobile{
    display: none;
}

@media (max-width: 576px) {

    .top__header__mobile{
        display: flex;
        padding: 10px 0;
        background-color: $darkBlue;
        // justify-content: space-between;
        .top__header__mobile__icons{
            ul{
                display: flex;
                margin: 0;
                padding: 0;
                li{
                    list-style: none;
                    a{
                        i{
                            color: $white;
                            margin-right: 18px;
                            font-size: 19px;
                        }
                    }
                }
            }
        }
        .top__header__mobile__links{
            ul{
                display: flex;
                justify-content: end;
                padding: 0;
                margin: 0;
                li{
                    list-style: none;
                    a{
                        color: $white;
                    }
                    a:last-child{
                        margin-left: 4px;
                    }
                }
            }
        }
    }

    .header__mobile{
        display: flex;
        padding: 10px 0;
        // align-items: center !important;
        justify-content: space-between;
        .header__mobile__menu{
            a{
                i{
                   font-size: 25px;
                   color: $darkBlue;
                }
            }
        }
        .header__mobile__logo{
            display: flex;
            justify-content: center;
            img{
                width: 100%;
                max-width: 70px;
            }
        }
        .header__mobile__daxilOl{
            a{
                display: flex;
                justify-content: end;
                i{
                    font-size: 18px;
                    color: $white;
                    padding: 7px;
                    border-radius: 100%;
                    background-color: $darkBlue;
                }
            }
        }
    }

    .top__header {
        display: none;
    }
    
    .header {
        display: none;
    }
    // INDEX
    .slider{
        background-image: url('../img/home/background_slider.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
        padding: 20px 0;
        .swiper{
            // margin-top: 80px;
          .swiper-wrapper{
            .swiper-slide{
                .slider__content{
                    display: flex;
                    align-items: center;
                    flex-direction:column;
                    justify-content: center;
                    .slider__text{
                        h1{
                            color: $white;
                            font-size: 40px;
                            width: 80%;
                            margin-bottom: 30px;
                        }
                        .slider__p{
                            font-size: 16px;
                        }
        
                    }
                    .slider__image{
                        img{
                            width: 100%;
                            height: 300px;
                        }
                    }
                }
            }
          }
        }
    }
    
    .dashinma{
        margin: 30px 0;
        display: flex;
        .dashinma__image{
            img{
                height: 300px;
                width: 100%;
            }
        }
        .dashinma__content{
            .dashinma__title{
        color: #254083;
        font-weight: 700;
        font-size: 30px;
        line-height: 42px;
        margin-bottom: 12px;
        width: 100%;
            }
            .dashinma__desc{
                margin-bottom: 30px;
                width: 100%;
            }
            .calculator{
                display: flex;
                flex-wrap: wrap;
                .select{
                        width: 100%;
                    }
                    input{
                    width: 100%;
                }
                .result{
                    width: 100%;
                }
            }
        }
    }
    
    .tarifler{
        table{
            width:1300px;
        }
        .tablee{
                overflow-x: scroll; 
                height: 220px;
            }
            .tablee::-webkit-scrollbar{
                display: none;
            }
    }

    .bizNeceIsleyirik{
        margin: 20px 0;
        .bizNeceIsleyirik__top{
            .bizNeceIsleyirik__p{
                font-size: 30px;
                margin-bottom: 15px;
            }
        }
    
        .bizNeceIsleyirik__all{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            .bizNeceIsleyirik__box{
                display: flex;
                align-items: center;
                width: 100%;
                padding: 38px 34px 37px 28px;
                cursor: pointer;
                .bizNeceIsleyirik__image{
                    margin-right: 10px;
                }
                .bizNeceIsleyirik__content{
                    .bizNeceIsleyirik__title{
                        font-size: 17px;
                    }
                    .bizNeceIsleyirik__desc{
                        font-size: 14px;
                    }
                }
            }
        }
    }
    
    
    .yenilikler{
        margin: 30px 0;
        .yenilikler__top{
            text-align: center;
            .yenilikler__top__title{
                font-size: 30px;
            }
        }
    
        .yenilikler__all{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            // justify-content: center;
            margin: 20px 0;
            a{
                .yenilikler__box{
                    width: 100% !important;
                    margin-bottom: 30px;
                    // display: flex;
                    // justify-content: center;
                    .yenilikler__image{
                        margin-bottom: 10px;
                        img{
                        width: 100%;
    
                        }
                    }
                    .yenilikler__date{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        // padding: 0 20px 30px 20px;
        
                    }
                }
            }
        }
    
        .yenilikler__alink{
            text-align: center;
            margin: 10px 0;
            .yenilikler__links{
                color: $darkBlue ;
                font-weight: 600;
                font-size: 20px;
                text-decoration: underline;
            }
        }
    }
    
    .logos{
        .swiper{
            .swiper-wrapper{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                .swiper-slide{
    
                img{
                    width: 100%;
                    height: 100%;
                    max-width: 110px;
                    max-height:110px ;
                }
            }
        }
        }
    }

// INDEX



//TARIFLER

//TARIFLER



    // HAQQIMIZDA
    .haqqimizda {
        margin: 50px 0;
        .haqqimizda__image {
            text-align: center;
            img {
                width: 100%;
                height: 100%;
                max-width: 350px;
                max-height: 300px;
            }
        }
    }
    .haqqimizda__bottom {
        margin: 20px 0;
        .haqqimizda__content {
            text-align: center;
            .haqqimizda__title {
                font-size: 30px;
                color: $darkBlue;
            }
            .haqqimizda__desc {
                font-size: 15px;
                margin: 20px auto;
                text-align: justify;
                width: 100%;
            }
        }
    }
    
    // HAQQIMIZDA


    //ELAQE
    .elaqe {
        margin: 90px 0;
        display: flex;
        align-items: center;
        .elaqe__content {
            margin-bottom: 50px;    
            height: auto;
            width: 100%;
            background: $white;
            box-shadow: 0 1px 7px rgba(206, 222, 250, 0.5);
            border-radius: 10px;
            padding: 80px 50px;
            .elaqe__melumatlar {
                margin-bottom: 30px;
                .elaqe__melumatlar__title {
                    margin-bottom: 15px;
                    // font-size: 30px;
                }
                .elaqe__xerite {
                    font-size: 16px;
                }
                .elaqe__telefon {
                    font-size: 16px;
                }
                .elaqe__email {
                    font-size: 16   px;
                }
            }
        }
    
        .elaqe__form {
            .elaqe__form__title {
                font-size: 40px;
                font-weight: 600;
                color: $darkBlue;
                margin-bottom: 35px;
            }
            form {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                .second {
                    margin-left: 0 !important;
                }
                input {
                    width: 100%;
                }
            }
        }
    }
    
    //ELAQE


    // DAXIL OL
    .daxilOl{
        margin: 50px 0;
        .daxilOl__image{
            img{
                display: none;
            }
        }
        .daxilOl__title{
            font-size: 30px;
        }
        .daxilOl__form{
            img{
                display: none;
            }
            height: auto;
            width: auto;
        }
    }       
    //DAXIL OL


    // SIFRE
    .sifre{
        margin: 50px 0;
        .sifre__image{
            img{
              display: none;
            }
        }
        .sifre__title{
            font-size: 35px;
        }
        .sifre__form{
            img{
              display: none;
            }
            height: auto;
            width: auto;
          
        }
    }   
    //SIFRE



    // SIFRE AKTIV
    .sifreAktiv{
        margin: 50px 0;
        .sifreAktiv__image{
            img{    
               display: none;
            }
        }
        .sifreAktiv__title{
            font-size: 30px !important;
            margin-top: 30px;
            margin-bottom: 20px;
        }
        .sifreAktiv__form{
            position: relative;
            .sifreAktiv__img1{
             display: none;
            }
            height: auto;
            width: auto;
            background: $white;
            border-radius: 10px;
            padding: 80px 20px;
            box-shadow: 0px 1px 10px rgba(192, 215, 255, 0.6);
    
            .sifreAktiv__content{
                text-align: center;
                .sifreAktiv__image2{
                    margin-top: 30px;
                    img{
                        position: relative;
                        width: 20%;
                        top: 0;
                        right: 0;
                        left: 0;
                        bottom: 0;
                        height: auto;
                    }
                }
                .sifreAktiv__title{
                    
                    color: $darkBlue;
                    font-size: 35px;
                    font-weight: 600;
                    text-align: center;
                    margin-top: 50px;
                    margin-bottom: 20px;
                }
                .sifreAktiv__desc{
                    color: $black;
                }
                .sifreAktiv__a{
                    color: $yellow;
                    font-weight: 600;
                }
            }
        }
    }   
    // SIFRE AKTIV


// SIFRE KOD
.sifreKod{
    margin: 40px 0;
    .sifreKod__image{
        img{
            display: none;
        }
    }
    .sifreKod__form{
        position: relative;
        .inputs{
            display: flex;
            justify-content: space-between;
        }
        img{
          display: none;
        }
        height: auto;
        width: auto;
        .inputt{
            width: 82%;
        }
    }
}   
//SIFRE KOD

// SIFRE BERPASI
.sifreBerpasi{
    margin: 40px 0;
    .sifreBerpasi__image{
        img{
           display: none;
        }
    }
    .sifreBerpasi__title{
        font-size: 35px;
        margin-top: 0;
        margin-bottom: 40px;
    }
    .sifreBerpasi__form{
        position: relative;
        img{
          display: none;
        }
        height: auto;
        width: auto;
    }
}   
// SIFRE BERPASI



// MAGAZALAR
.magazalar{
    margin: 30px 0;
    .magazalar__top{
        .magazalar__top__title{
            font-size: 35x;
        }
    }
    .magazalar__all{
        margin: 30px 0;
        .magazalar__box{
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 350px;
            margin: 10px auto;
            width: 100%;
            height: 160px;
            margin-bottom: 20px;
        }
    }
}
// MAGAZALAR


// MENTEQE TARIFLERI
.menteqe{
    margin: 40px 0;
    .menteqe__top{
        // margin-bottom: 30px;
        .menteqe__top__title{
            font-size: 35px;
        }
    }

    .menqete__links{
        margin: 30px 0; 
        overflow-x: scroll; 
        width:auto;
        height: 50px;
        ul{
            li{
                margin-right: 15px;
            }
        }
    }
    .menqete__links::-webkit-scrollbar{
        display: none;
    }

    .table{
        width:1300px;
        margin: 30px 0;
        tbody{
            tr{
                th{
                    color:$darkBlue;
                }
            }
            th{
                padding: 20px 0;
            }
            td{
                padding: 20px 0;
            }
        }
    }
    .tablee{
            overflow-x: scroll; 
            height: 220px;
        }
        .tablee::-webkit-scrollbar{
            display: none;
        }
}
// MENTEQE TARIFLERI


// QEYDIYYAT
.qeydiyyat{
    margin: 20px 0;
    .qeydiyyat__top{
        .qeydiyyat__top__title{
            font-size: 35px;
        }
    }
    form{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        input{
            width: 100%;
        }
        .center{
            input{
                width: 100%;
            }
        }
        .form__bottom{
            margin: 25px 0;
        }
        .form__bottom2{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            .form__bottom2__title1{
                display: flex;
                align-items: center;
            }
            .form__bottom2__title2{
                display: flex;
                align-items: center;
                justify-content: center;
                .form__bottom2__center{
                    font-size: 13px;
                    margin-left: 35px;
                }
            }
        }
    }
}
// QEYDIYYAT

// ISDIFADECI
.isdifadeci {
    margin: 20px 0;
    .isdifadeci__top {
        margin-bottom: 20px;
        .isdifadeci__top__title {
            font-size: 40px;
            color: $darkBlue;
            font-weight: 600;
            text-align: center;
        }
    }
    .isdifadeci__descs {
        ol {
            margin-left: 15px;
            li {
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 20px;
                width: 100%;
                color: $black;
                font-size: 15px;
                line-height: 17px;
                font-weight: 400;
                text-align: justify;
            }
        }
    }
}
// ISDIFADECI

}
@media (min-width: 565px) and (max-width: 768px) {

}

@media (min-width: 768px) and (max-width: 992px) {
    .top__header__mobile{
        display: flex;
        padding: 10px 0;
        background-color: $darkBlue;
        // justify-content: space-between;
        .top__header__mobile__icons{
            ul{
                display: flex;
                margin: 0;
                padding: 0;
                li{
                    list-style: none;
                    a{
                        i{
                            color: $white;
                            margin-right: 18px;
                            font-size: 19px;
                        }
                    }
                }
            }
        }
        .top__header__mobile__links{
            ul{
                display: flex;
                justify-content: end;
                padding: 0;
                margin: 0;
                li{
                    list-style: none;
                    a{
                        color: $white;
                    }
                    a:last-child{
                        margin-left: 4px;
                    }
                }
            }
        }
    }

    .header__mobile{
        display: flex;
        padding: 10px 0;
        // align-items: center !important;
        justify-content: space-between;
        .header__mobile__menu{
            a{
                i{
                   font-size: 25px;
                   color: $darkBlue;
                }
            }
        }
        .header__mobile__logo{
            display: flex;
            justify-content: center;
            img{
                width: 100%;
                max-width: 70px;
            }
        }
        .header__mobile__daxilOl{
            a{
                display: flex;
                justify-content: end;
                i{
                    font-size: 18px;
                    color: $white;
                    padding: 7px;
                    border-radius: 100%;
                    background-color: $darkBlue;
                }
            }
        }
    }

    .top__header {
        display: none;
    }
    
    .header {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1320px) {
    
}